.container {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto;
}

#rotate-image {
  animation: rotation 0.01s infinite linear;
  width: 100%;
  height: 100%;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.controls {
  text-align: center;
  margin-top: 20px;
}

.buttons {
  margin-bottom: 10px;
}

.speed-display {
  font-size: 14px;
}